.header{
	$self: &;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: vh(10) vw(32);
	box-sizing: border-box;
	@include max(md){
		padding: vw2(10) vw2(32);
	}
	@include max(sm){
		padding: vw3(15) vw3(12);
	}
	@include max(xs){
		padding: vw4(10) vw4(12);
	}
	&__container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	&__left{}
	&__logo{
		width: vw(256);
		@include min(xl){
			width: 256px;
		}
		@include max(md){
			width: vw2(256);
		}
		@include max(sm){
			width: vw3(225);
		}
		@include max(xs){
			width: vw4(125);
		}
		img{
			width: 100%;
		}
	}
	&__right{
		display: flex;
		align-items: center;
	}
	&__phone{
		font-weight: 500;
		font-size: vw(16);
		line-height: 130%;
		color: #FDFDFD;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid #FDFDFD;
		border-radius: vw(100);
		display: inline-block;
		padding: vw(12) vw(24);
		margin-right: vw(251);
		transition: 0.3s color, 0.3s background;
		box-sizing: border-box;
		@include min(xl){
			font-size: 16px;
			border-radius: 100px;
			padding: 12px 24px;
			margin-right: 251px;
		}
		@include max(md){
			display: none;
		}
		&:hover{
			color: #0D0D0D;
			background-color: #FDFDFD;
		}
	}
	&__btns{
		display: flex;
		align-items: center;
	}
	&__link{
		width: vw(48);
		height: vw(48);
		border: 1px solid #FDFDFD;
		border-radius: 50%;
		display: inline-block;
		transition: 0.3s background;
		background-position: center center;
		background-repeat: no-repeat;
		box-sizing: border-box;
		@include min(xl){
			width: 48px;
			height: 48px;
		}
		@include max(md){
			width: vw2(48);
			height: vw2(48);
		}
		@include max(sm){
			width: vw3(48);
			height: vw3(48);
		}
		@include max(xs){
			width: vw4(48);
			height: vw4(48);
		}
		&:not(:first-child){
			margin-left: vw(8);
			@include max(md){
				margin-left: vw2(8);
			}
			@include max(sm){
				margin-left: vw3(8);
			}
			@include max(xs){
				margin-left: vw4(8);
			}
		}
		&--burger{
			background-image: url('../img/svg/header-burger.svg');
			background-size: vw(24);
			@include min(xl){
				background-size: 24px;
			}
			@include max(md){
				background-size: vw2(24);
			}
			@include max(sm){
				background-size: vw3(24);
			}
			@include max(xs){
				background-size: vw4(24);
			}
			&:hover{
				background-image: url('../img/svg/header-burger-2.svg');
			}
		}
		&--profile{
			background-image: url('../img/svg/header-profile.svg');
			background-size: vw(24);
			@include min(xl){
				background-size: vw(18);
			}
			@include max(md){
				background-size: vw2(24);
			}
			@include max(sm){
				background-size: vw3(24);
			}
			@include max(xs){
				background-size: vw4(24);
			}
			&:hover{
				background-image: url('../img/svg/header-profile-2.svg');
			}
		}
		&:hover{
			background-color: #FDFDFD;
		}
	}

	&--dark{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1001;
		pointer-events: none;
		mask-image: linear-gradient(90deg, black 0, transparent 0 100%);
		-webkit-mask-image: linear-gradient(90deg, black 0, transparent 0 100%);
		#{ $self }{
			&__phone{
				color: #3D3D3D;
				border: 1px solid #1E713F;
			}
			&__link{
				border: 1px solid #1E713F;
				&--burger{
					background-image: url('../img/svg/header-burger-2.svg');
				}
				&--profile{
					background-image: url('../img/svg/header-profile-2.svg');
				}
			}
		}
	}
	&--static{
		display: none;
		+.header{
			position: relative;
			pointer-events: auto;
			background: #F7F7F7;
			&--white{
				background: #ffffff;
			}
		}
	}

}


.menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	transition: opacity 0.5s;
	opacity: 0;
	&__overlay{
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		background: rgba(13, 13, 13, 0.8);
	}
	&__inner{
		background: #1E713F;
		height: 100%;
		position: absolute;
		right: -100%;
		top: 0;
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 vw(136) 0 vw(104);
		z-index: 2;
		display: flex;
		align-items: center;
		transition: right 0.5s;
		@include max(md){
			width: vw2(644);
			padding: 0 vw2(216) 0 vw2(92);
		}
		@include max(sm){
			width: 100%;
			padding: 0 vw3(102);
		}
		@include max(xs){
			padding: 0 vw4(12);
		}
	}
	&__scroll{
		max-height: 100vh;
		overflow: auto;
	}
	&__close{
		width: vw(48);
		height: vw(48);
		border: 1px solid #FDFDFD;
		border-radius: 50%;
		display: inline-block;
		transition: 0.3s background;
		background-position: center center;
		background-repeat: no-repeat;
		box-sizing: border-box;
		background-image: url('../img/svg/header-close.svg');
		background-size: vw(18);
		position: absolute;
		top: vw(24);
		right: vw(40);
		@include min(xl){
			width: 48px;
			height: 48px;
			background-size: 18px;
			top: 24px;
		}
		@include max(md){
			width: vw2(48);
			height: vw2(48);
			background-size: vw2(18);
			top: vw2(22);
			right: vw2(40);
		}
		@include max(sm){
			width: vw3(48);
			height: vw3(48);
			background-size: vw3(18);
			top: vw3(12);
			right: vw3(20);
		}
		@include max(xs){
			width: vw4(48);
			height: vw4(48);
			background-size: vw4(18);
			top: vw4(12);
			right: vw4(20);
		}
		&:hover{
			background-color: #FDFDFD;
			background-image: url('../img/svg/header-close-2.svg');
		}
	}

	&__content{
		padding: vh(100) 0 vh(20);
		@include max(md){
			padding: vw2(100) 0 vw2(70);
		}
		@include max(sm){
			padding: vw3(100) 0 vw3(90);
		}
		@include max(xs){
			padding: vw4(84) 0 vw4(80);
		}
	}
	&__top{
		display: flex;
		@include max(md){
			display: block;
		}
	}
	&__bottom{
		display: flex;
		align-items: center;
		padding-top: vw(20);
		@include min(xl){
			padding-top: 20px;
		}
		@include max(md){
			display: block;
			padding-top: vw2(40);
		}
		@include max(sm){
			padding-top: vw3(40);
		}
		@include max(xs){
			padding-top: vw4(40);
		}
	}
	&__left{
		width: vw(280);
		@include min(xl){
			width: 280px;
		}
		@include max(md){
			width: vw2(336);
		}
		@include max(sm){
			width: vw3(336);
		}
		@include max(xs){
			width: 100%;
		}
	}
	&__right{
		width: vw(278);
		margin-left: vw(138);
		@include min(xl){
			width: 278px;
			margin-left: 138px;
		}
		@include max(md){
			margin-left: 0;
			margin-top: vw2(24);
			width: vw2(336);
		}
		@include max(sm){
			margin-top: vw3(24);
			width: vw3(336);
		}
		@include max(xs){
			margin-top: vw4(24);
			width: 100%;
		}
	}
	&__walk{
		font-family: $textFont;
		font-style: normal;
		font-weight: 400;
		font-size: vw(36);
		line-height: 145%;
		color: #FDFDFD;
		@include min(xl){
			font-size: 36px;
		}
		@include max(md){
			display: none;
		}
	}
	&__3d{
		position: relative;
		width: vw(176);
		height: vw(176);
		border-radius: 50%;
		background: #FDFDFD;
		cursor: pointer;
		font-weight: 700;
		font-size: vw(16);
		line-height: 145%;
		text-align: center;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #1E713F;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: color 0.3s, background-color 0.3s;
		text-decoration: none;
		margin: vw(22);
		@include min(xl){
			width: 176px;
			height: 176px;
			font-size: 16px;
			margin: 22px;
		}
		@include max(md){
			width: vw2(176);
			height: vw2(176);
			font-size: vw2(16);
			margin: vw2(22);
		}
		@include max(sm){
			width: vw3(176);
			height: vw3(176);
			font-size: vw3(16);
			opacity: 1;
			margin: vw3(22);
		}
		@include max(xs){
			width: vw4(128);
			height: vw4(128);
			font-size: vw4(12);
			margin: vw4(20);
		}
		&::before{
			content: "";
			display: block;
			width: vw(220);
			height: vw(220);
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			@include min(xl){
				width: 220px;
				height: 220px;
			}
			@include max(md){
				width: vw2(220);
				height: vw2(220);
			}
			@include max(sm){
				width: vw3(220);
				height: vw3(220);
			}
			@include max(xs){
				width: vw4(160);
				height: vw4(160);
			}
		}
		&:hover{
			background: #1E713F;
			color: #FDFDFD;
		}
	}
	&__contacts{}
	&__contact{
		&:not(:first-child){
			//margin-top: vw(32);
			margin-top: 2.5vmin;
			@include min(xl){
				margin-top: 32px;
			}
			@include max(md){
				margin-top: vw2(32);
			}
			@include max(sm){
				margin-top: vw3(32);
			}
			@include max(xs){
				margin-top: vw4(32);
			}
		}
		&-title{
			font-family: $textFont;
			font-style: normal;
			font-weight: 400;
			font-size: vw(16);
			line-height: 130%;
			color: #FDFDFD;
			margin-bottom: vw(8);
			@include min(xl){
				margin-bottom: 8px;
			}
			@include max(md){
				font-size: vw2(16);
				margin-bottom: vw2(8);
			}
			@include max(sm){
				font-size: vw3(16);
				margin-bottom: vw3(8);
			}
			@include max(xs){
				font-size: vw4(16);
				margin-bottom: vw4(8);
			}
		}
		&-text{
			font-family: $textFont;
			font-style: normal;
			font-weight: 400;
			font-size: vw(18);
			line-height: 145%;
			color: #FDFDFD;
			@include min(xl){
				font-size: 18px;
			}
			@include max(md){
				font-size: vw2(18);
			}
			@include max(sm){
				font-size: vw3(18);
			}
			@include max(xs){
				font-size: vw4(18);
			}
			a{
				text-decoration: none;
				color: inherit;
				transition: color 0.3s;
				&:hover{
					color: #041C13;
				}
			}
		}
	}
	&__list{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			+li{
				//margin-top: vw(16);
				margin-top: 1.25vmin;
				@include min(xl){
					margin-top: 16px;
				}
				@include max(md){
					margin-top: vw2(16);
				}
				@include max(sm){
					margin-top: vw3(16);
				}
				@include max(xs){
					margin-top: vw4(16);
				}
			}
			a{
				font-style: normal;
				font-weight: 600;
				font-size: vw(36);
				line-height: 140%;
				text-transform: uppercase;
				color: #FDFDFD;
				text-decoration: none;
				transition: color 0.3s;
				@include min(xl){
					font-size: 36px;
				}
				@include max(md){
					font-size: vw2(36);
				}
				@include max(sm){
					font-size: vw3(36);
				}
				@include max(xs){
					font-size: vw4(24);
				}
				&:hover{
					color: #041C13;
				}
			}
		}
	}
	&__profile{
		margin-top: vw(16);
		font-style: normal;
		font-weight: 600;
		font-size: vw(24);
		line-height: 140%;
		text-transform: uppercase;
		color: #FDFDFD;
		flex: none;
		order: 0;
		flex-grow: 0;
		transition: color 0.3s;
		display: inline-block;
		text-decoration: none;
		position: relative;
		@include min(xl){
			font-size: 24px;
			margin-top: 16px;
		}
		@include max(md){
			font-size: vw2(24);
			margin-top: vw2(16);
		}
		@include max(sm){
			font-size: vw3(24);
			margin-top: vw3(16);
		}
		@include max(xs){
			font-size: vw4(18);
			margin-top: vw4(16);
		}
		&::after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #FDFDFD;
			transition: background 0.3s;
			position: absolute;
			left: 0;
			bottom: 0;
		}
		&:hover{
			color: #041C13;
			&::after{
				background: #041C13;
			}
		}
	}


	&.active{
		pointer-events: auto;
		opacity: 1;
		.menu__inner{
			right: 0;
		}
	}
}