header.header.header--main
    .header__container
        .header__left
            .header__logo
                img(src='img/svg/header-logo.svg')
        .header__right
            a.header__phone(href="+79848885154") +7 (984) 888-51-54
            .header__btns
                a.header__link.header__link--burger(href="javascript:;")
                a.header__link.header__link--profile(href="")

.header.header--dark
    .header__container
        .header__left
            .header__logo
                img(src='img/svg/footer-logo.svg')
        .header__right
            a.header__phone(href="+79848885154") +7 (984) 888-51-54
            .header__btns
                a.header__link.header__link--burger(href="javascript:;")
                a.header__link.header__link--profile(href="")
