extends ../layouts/default-page

block variables
	- const title = "Catalog-inside-lk";

block content

	.catalog-inside-lk-page.container-menu

		.container-menu__menu-lk.menu-lk
			include ../../blocks/components/menu-lk

		.container-menu__content
			.container-menu__top
				h1.container-menu__top-title.title-1 Ели
				p.container-menu__top-text.text-2 Прогрессивного развития. Нашей развития. Позиций, направлений соображения в в активности способствует по же по и направлений место в соображения реализация и участниками требуют задач

			include ../../blocks/components/breadcrumbs

			.catalog-inside-lk-page__sorting
				p.title-5 Сортировать:

				select.selector
					option(value="по умолчанию") по умолчанию
					option(value="по увеличению цены") по увеличению цены
					option(value="по уменьшению цены") по уменьшению цены
					option(value="по названию от А до Я") по названию от А до Я
					option(value="по названию от Я до А") по названию от Я до А



			ul.catalog-inside-lk-page__list
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
				li.catalog-inside-lk-page__item.item
					.item__img
						img(src="./img/s4-1.jpg", alt="Ель")
					.item__block
						h4.item__title.title-4-uppercase Ель сербская «Karel»
						p.item__text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						p.item__price.title-3 3 800 ₽
					a(href='').item__btn.colored-button-small
						p Подробнее о товаре
			
			.catalog-inside-lk-page__bottom
				button(type='button').catalog-inside-lk-page__btn.transparent-button
					p Показать ещё

				include ../../blocks/components/pagination


	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	
	script(src="js/main.js")