extends ../layouts/default-page

block variables
	- const title = "Change-password-lk";

block content

	.change-password-lk-page
		include ../../blocks/components/breadcrumbs

		form.form-lk(action="")
			.form-lk__wrap
				h1.form-lk__title.title-3 смена пароля
				p.form-lk__subtitle.text-2 Укажите адрес электронной почты, чтобы получить ссылку для изменения пароля.

				label.form-lk__label
					p.form-lk__label-name.small-text-2 Почта
					input.form-lk__input.input-text(type="email" placeholder="ivanov@ya.ru")
					span.text-error Данное поле должно быть заполнено

				button.form-lk__submit.colored-button-small.js-popup-active(type="button")
					p Получить ссылку
	
		.change-password-lk-page__popup.popup.js-popup
			.popup__wrap
				button.popup__btn-close.js-popup-close
					| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18 6L6 18" stroke="#1E713F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M6 6L18 18" stroke="#1E713F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>

				h3.title-3 Изменение пароля
				p.text-2 Ссылка для изменения пароля отправлена вам на почту.

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")