extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Contacts"

block content
	include ../../blocks/modules/loader-contacts/loader-contacts
	include ../../blocks/modules/header/header
	.contacts-page
		.first
			.c1
				.c1__container
					h1.c1__title Способы связи
					.c1__contacts
						.c1__contacts--item
							.c1__contacts--title Адрес:
							.c1__contacts--text Калужская область, Жуковский район, д. Дадровка
						.c1__contacts--item
							.c1__contacts--title Телефон/WhatsApp:
							a(href="tel:+7 (920) 886–89–24").c1__contacts--link +7 (920) 886–89–24
						.c1__contacts--item
							.c1__contacts--title E-mail:
							a(href="mailto:Nracheeva@mail.ru").c1__contacts--link Nracheeva@mail.ru
		.map 
			.map__container
				img(src="img/map.png", alt="")
	//- include ../../blocks/modules/footer/footer


block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")