extends ../layouts/default

block variables
	- const title = "New Page";
	- var notFixedHeader = true;
	- var notFixedHeader2 = true;

block content
	include ../../blocks/modules/header/header
	.faq-page
		.fp-intro
			.fp-intro__title Ответы на вопросы

		.faq-page__container
			h1.fp-title Вопросы и ответы

			.faq-page__flex
				.faq-page__left
					.fp-tabs
						.fp-tabs__item.active Уход за хвойными растениями
						.fp-tabs__item Как заказать
						.fp-tabs__item Прочее
				.faq-page__right
					.fp-sections.active
						.fp-sections__item
							.fp-sections__item-title Как правильно сажать?
							.fp-sections__item-text
								p В&nbsp;нашем питомнике перед отправкой корневую систему растения упаковывают в&nbsp;мешковину и&nbsp;сетку. С&nbsp;одной стороны эта конструкция удерживает почву вокруг корней в&nbsp;неподвижном состоянии, с&nbsp;другой&nbsp;— хорошо проницаема для вновь отрастающих корешков.
								h3 Саженцы
								p Перед посадкой снимите обмотку с&nbsp;земляного кома. Делать это желательно в&nbsp;заранее подготовленной лунке, после чего засыпать грунтом, уплотнить, налить воды, досыпать почву и&nbsp;замульчировать.
								h3 Крупномеры
								p Поместите крупномер в&nbsp;центр посадочной ямы соответствующих размеров&nbsp;— на&nbsp;20&nbsp;см больше земляного кома. На&nbsp;дно ямы засыпьте почву, при необходимости уложите дренаж (гравий/щебень). Затем освободите ком от&nbsp;обмотки, засыпьте подготовленным растительным грунтом с&nbsp;послойным уплотнением и&nbsp;укрепите дерево распорками.
						.fp-sections__item
							.fp-sections__item-title Когда лучше сажать?
							.fp-sections__item-text
								p Хвойные сажают как в&nbsp;апреле, так и&nbsp;ранней осенью: в&nbsp;конце августа&nbsp;— начале сентября. В&nbsp;нашем питомнике посадка в&nbsp;контейнеры начинается в&nbsp;начале апреля в&nbsp;теплицах, в&nbsp;грунт&nbsp;— с&nbsp;конца апреля по&nbsp;май.
						.fp-sections__item
							.fp-sections__item-title Как поливать?
							.fp-sections__item-text
								p В&nbsp;утреннее и&nbsp;вечернее время можно проводить «дождевание» (опрыскивание). Перед зимой растения обильно поливают, чтобы создать запас влаги.
						.fp-sections__item
							.fp-sections__item-title Чем удобрять?
							.fp-sections__item-text
								p Для хвойных растений чаще всего используются комплексные удобрения.
						.fp-sections__item
							.fp-sections__item-title Чем обрабатывать от вредителей?
							.fp-sections__item-text
								p Против вредителей используются эффективные фунгициды и&nbsp;инсектициды&nbsp;— Ориво, Циперметрин, Би-58, Клипер, бордосская смесь&nbsp;1%, медный купорос.

					.fp-sections
						.fp-sections__item
							.fp-sections__item-title Как сделать заказ?
							.fp-sections__item-text
								p В&nbsp;питомнике работают 2&nbsp;менеджера по&nbsp;продажам. Вы&nbsp;можете приехать лично или связаться с&nbsp;нами по&nbsp;указанным на&nbsp;сайте телефонам, через электронную почту, мессенджеры (Telegram, WhatsApp), а&nbsp;также зарегистрироваться в&nbsp;личном кабинете, чтобы заказывать продукцию онлайн. Прайс-лист с&nbsp;ассортиментом, свободным для заказа, фото или видео понравившихся растений высылаются по&nbsp;запросу.
						.fp-sections__item
							.fp-sections__item-title Как забронировать продукцию?
							.fp-sections__item-text
								p Осенью бронируем растения на&nbsp;весну по&nbsp;предоплате 30%. С&nbsp;питомниками, которые берут наши растения для дальнейшего доращивания, работаем по&nbsp;заранее (год-два) согласованному ассортименту.
						.fp-sections__item
							.fp-sections__item-title Как оплатить?
							.fp-sections__item-text
						.fp-sections__item
							.fp-sections__item-title Какие бонусы есть для оптовых покупателей?
							.fp-sections__item-text
								p При оптовой закупке мы&nbsp;предлагаем специальные цены. С&nbsp;вами будет работать персональный менеджер, который проведет сделку от&nbsp;заявки до&nbsp;отгрузки. Также мы&nbsp;проводим реальные и&nbsp;виртуальные экскурсии по&nbsp;питомнику, например, по&nbsp;видеозвонку в&nbsp;Whats App, показываем все интересующие позиции в&nbsp;режиме реального времени.
						.fp-sections__item
							.fp-sections__item-title Какая минимальная сумма заказа?
							.fp-sections__item-text
								p Минимальная сумма заказа&nbsp;— от&nbsp;100 тысяч рублей. Но&nbsp;первый заказ может быть и&nbsp;на&nbsp;меньшую сумму, все решается индивидуально.

					.fp-sections
						.fp-sections__item
							.fp-sections__item-title Как растения готовят к транспортировке?
							.fp-sections__item-text
								p Ком у&nbsp;растений из&nbsp;открытого грунта упаковывается в&nbsp;мешковину с&nbsp;сеткой или в&nbsp;мягкий контейнер (СОФТ БЭГ)&nbsp;— по&nbsp;вашему желанию. Посадочный материал, выращенный в&nbsp;контейнерах, в&nbsp;них и&nbsp;продается. Последний, в&nbsp;зависимости от&nbsp;вашего местонахождения, можем сложить в&nbsp;бокс-паллеты или поставить на&nbsp;сс-тролли. Большие растения из&nbsp;грунта аккуратно укладываем непосредственно в&nbsp;кузов автомобиля.
						.fp-sections__item
							.fp-sections__item-title Как происходит доставка?
							.fp-sections__item-text
								p У&nbsp;нас есть свой автомобиль Isuzu для доставки по&nbsp;МО, в&nbsp;пределах 100&nbsp;км доставка бесплатная. Мы&nbsp;знаем, как довезти товар без потерь и&nbsp;не&nbsp;экономим в&nbsp;ущерб качеству. В&nbsp;регионы растения доставляем наемным транспортом или транспортными компаниями с&nbsp;соблюдением требований к&nbsp;упаковке и&nbsp;бережной транспортировке. Перед отправкой мы&nbsp;предоставляем фото отобранных экземпляров с&nbsp;рулеткой для подтверждения факта погрузки именно тех размеров, которые были в&nbsp;заявке. Также вы&nbsp;можете забрать заказ самостоятельно.
						.fp-sections__item
							.fp-sections__item-title Есть ли гарантии на продукцию?
							.fp-sections__item-text
								p Мы&nbsp;не&nbsp;можем обещать 100% приживаемость на&nbsp;новом месте, поскольку она в&nbsp;основном зависит от&nbsp;ухода за&nbsp;растениями после их&nbsp;прибытия и&nbsp;пересадки. Но&nbsp;гарантируем, что все они выращены по&nbsp;современным технологиям и&nbsp;соответствуют необходимым параметрам. За&nbsp;время работы питомника (с&nbsp;2015&nbsp;года) к&nbsp;нам не&nbsp;поступило ни&nbsp;одной рекламации на&nbsp;качество продукции.

					.fp-last
						.fp-last__text
							p Хотите получить дополнительную информацию о&nbsp;растениях, способах посадки и&nbsp;ухода или уточнить другие детали? Заполните форму ниже&nbsp;— наши менеджеры свяжутся с&nbsp;вами в&nbsp;течение 2&nbsp;часов.
						.fp-last__btn
							a(href="#") задать вопрос




	include ../../blocks/modules/footer/footer





block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")