extends ../layouts/default

block variables
	- const title = "New Page";
	- var notFixedHeader = true;
	- var notFixedHeader2 = true;

block content
	include ../../blocks/modules/header/header
	.faq-page
		.fp-intro
			.fp-intro__title Ответы на вопросы

		.faq-page__container
			h1.fp-title Вопросы и ответы

			.faq-page__flex
				.faq-page__left
					.fp-tabs
						.fp-tabs__item.active Уход за хвойными растениями
						.fp-tabs__item Как заказать
						.fp-tabs__item Прочее
				.faq-page__right
					.fp-sections.active
						.fp-sections__item
							.fp-sections__item-title Как правильно сажать?
							.fp-sections__item-text
								p В нашем питомнике перед отправкой корневую систему растения упаковывают в мешковину и сетку. С одной стороны эта конструкция удерживает почву вокруг корней в неподвижном состоянии, с другой — хорошо проницаема для вновь отрастающих корешков.
								h3 Саженцы
								p Перед посадкой снимите обмотку с земляного кома. Делать это желательно в заранее подготовленной лунке, после чего засыпать грунтом, уплотнить, налить воды, досыпать почву и замульчировать.
								h3 Крупномеры
								p Поместите крупномер в центр посадочной ямы соответствующих размеров — на 20 см больше земляного кома. На дно ямы засыпьте почву, при необходимости уложите дренаж (гравий/щебень). Затем освободите ком от обмотки, засыпьте подготовленным растительным грунтом с послойным уплотнением и укрепите дерево распорками.
						.fp-sections__item
							.fp-sections__item-title Когда лучше сажать?
							.fp-sections__item-text
								p Хвойные сажают как в апреле, так и ранней осенью: в конце августа — начале сентября. В нашем питомнике посадка в контейнеры начинается в начале апреля в теплицах, в грунт — с конца апреля по май.
						.fp-sections__item
							.fp-sections__item-title Как поливать?
							.fp-sections__item-text
								p В утреннее и вечернее время можно проводить «дождевание» (опрыскивание). Перед зимой растения обильно поливают, чтобы создать запас влаги.
						.fp-sections__item
							.fp-sections__item-title Чем удобрять?
							.fp-sections__item-text
								p Для хвойных растений чаще всего используются комплексные удобрения.
						.fp-sections__item
							.fp-sections__item-title Чем обрабатывать от вредителей?
							.fp-sections__item-text
								p Против вредителей используются эффективные фунгициды и инсектициды — Ориво, Циперметрин, Би-58, Клипер, бордосская смесь 1%, медный купорос.

					.fp-sections
						.fp-sections__item
							.fp-sections__item-title Как сделать заказ?
							.fp-sections__item-text
								p В питомнике работают 2 менеджера по продажам. Вы можете приехать лично или связаться с нами по указанным на сайте телефонам, через электронную почту, мессенджеры (Telegram, WhatsApp), а также зарегистрироваться в личном кабинете, чтобы заказывать продукцию онлайн. Прайс-лист с ассортиментом, свободным для заказа, фото или видео понравившихся растений высылаются по запросу.
						.fp-sections__item
							.fp-sections__item-title Как забронировать продукцию?
							.fp-sections__item-text
								p Осенью бронируем растения на весну по предоплате 30%. С питомниками, которые берут наши растения для дальнейшего доращивания, работаем по заранее (год-два) согласованному ассортименту.
						.fp-sections__item
							.fp-sections__item-title Как оплатить?
							.fp-sections__item-text
						.fp-sections__item
							.fp-sections__item-title Какие бонусы есть для оптовых покупателей?
							.fp-sections__item-text
								p При оптовой закупке мы предлагаем специальные цены. С вами будет работать персональный менеджер, который проведет сделку от заявки до отгрузки. Также мы проводим реальные и виртуальные экскурсии по питомнику, например, по видеозвонку в Whats App, показываем все интересующие позиции в режиме реального времени.
						.fp-sections__item
							.fp-sections__item-title Какая минимальная сумма заказа?
							.fp-sections__item-text
								p Минимальная сумма заказа — от 100 тысяч рублей. Но первый заказ может быть и на меньшую сумму, все решается индивидуально.

					.fp-sections
						.fp-sections__item
							.fp-sections__item-title Как растения готовят к транспортировке?
							.fp-sections__item-text
								p Ком у растений из открытого грунта упаковывается в мешковину с сеткой или в мягкий контейнер (СОФТ БЭГ) — по вашему желанию. Посадочный материал, выращенный в контейнерах, в них и продается. Последний, в зависимости от вашего местонахождения, можем сложить в бокс-паллеты или поставить на сс-тролли. Большие растения из грунта аккуратно укладываем непосредственно в кузов автомобиля.
						.fp-sections__item
							.fp-sections__item-title Как происходит доставка?
							.fp-sections__item-text
								p У нас есть свой автомобиль Isuzu для доставки по МО, в пределах 100 км доставка бесплатная. Мы знаем, как довезти товар без потерь и не экономим в ущерб качеству. В регионы растения доставляем наемным транспортом или транспортными компаниями с соблюдением требований к упаковке и бережной транспортировке. Перед отправкой мы предоставляем фото отобранных экземпляров с рулеткой для подтверждения факта погрузки именно тех размеров, которые были в заявке. Также вы можете забрать заказ самостоятельно.
						.fp-sections__item
							.fp-sections__item-title Есть ли гарантии на продукцию?
							.fp-sections__item-text
								p Мы не можем обещать 100% приживаемость на новом месте, поскольку она в основном зависит от ухода за растениями после их прибытия и пересадки. Но гарантируем, что все они выращены по современным технологиям и соответствуют необходимым параметрам. За время работы питомника (с 2015 года) к нам не поступило ни одной рекламации на качество продукции.

					.fp-last
						.fp-last__text
							p Хотите получить дополнительную информацию о растениях, способах посадки и ухода или уточнить другие детали? Заполните форму ниже —  наши менеджеры свяжутся с вами в течение 2 часов.
						.fp-last__btn
							a(href="#") задать вопрос




	include ../../blocks/modules/footer/footer





block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")