extends ../layouts/default

block variables
	- const title = "New Page";

block content
	include ../../blocks/modules/header/header
	.grow-page
		.gp-video
			video(poster="img/video2-poster.webp" src="video/video2.mp4" autoplay loop muted)

		.gp-how
			.gp-how__intro
				.gp-how__intro-title.active Выращивание растений
				.gp-how__intro-text.active Выращивание не&nbsp;терпит небрежности и&nbsp;требует глубоких знаний. Мы&nbsp;используем современные технологии ухода за&nbsp;посадочным материалом&nbsp;&mdash; системы полива, качественные минеральные удобрения, средства для обработки от&nbsp;вредителей. Весь посадочный материал имеет фитосанитарные заключения и&nbsp;сертификаты. С&nbsp;растениями работают профессиональные дендрологи.
			.gp-how__items
				.gp-how-item
					.gp-how-item__img
						img(src="img/grow-1.webp" alt="")
					.gp-how-item__content
						.gp-how-item__title Как происходит выращивание
						.gp-how-item__text Посадка в&nbsp;контейнеры начинается в&nbsp;начале апреля в&nbsp;теплицах, которые позволяют нам раньше начать сезон посадки и&nbsp;тем самым увеличить вегетационный период, что, в&nbsp;свою очередь, хорошо сказывается на&nbsp;приросте растений и&nbsp;их&nbsp;товарном виде. В&nbsp;грунт растения высаживаем с&nbsp;конца апреля по&nbsp;май.
				.gp-how-item
					.gp-how-item__img
						video(src="video/video2.mp4" autoplay loop muted)
					.gp-how-item__content
						.gp-how-item__text После посадки растения нуждаются в&nbsp;наблюдении и&nbsp;уходе. В&nbsp;процессе роста их&nbsp;поливают, обрабатывают от&nbsp;вредителей и&nbsp;болезней, пропалывают и&nbsp;стригут по&nbsp;мере необходимости.


		.gp-doble
			.gp-doble__img
				.gp-doble__img-inner
					img(src="img/grow-2.webp" alt="")
				.gp-doble__img-inner
					img(src="img/grow-3.webp" alt="")
					
		.gp-poliv
			.gp-poliv__left
				.gp-poliv__title Система полива растений
				.gp-poliv__text На&nbsp;открытом грунте используется автоматическая капельная система полива, на&nbsp;площадках и&nbsp;в&nbsp;теплицах&nbsp;&mdash; спринклерная. Таким образом всем растениям обеспечивается водный режим. Контейнерная площадка поливается весной 1-2&nbsp;раза, летом&nbsp;&mdash; 3-4 раза в&nbsp;день. Растения из&nbsp;открытого грунта поливают по&nbsp;мере необходимости.
			.gp-poliv__right
				img(src="img/grow-4.webp" alt="")

		.gp-mineral
			.gp-mineral__img
				img(src="img/grow-5.webp" alt="")
			.gp-mineral__content
				.gp-mineral__title Подача минеральных веществ
				.gp-mineral__text
					p Внесение питательных веществ через капельный полив происходит непосредственно в&nbsp;прикорневую зону, что улучшает усвояемость подкормки и&nbsp;последующую урожайность. Спринклерная система («дождевание») удобна для равномерного распределения удобрений и&nbsp;положительно влияет на&nbsp;рост и&nbsp;развитие корневой системы.
					p В&nbsp;зависимости от&nbsp;способа выращивания и&nbsp;сезонности применяются комплексные удобрения. На&nbsp;контейнерном производстве используются подкормки пролонгированного действия&nbsp;&mdash; 5-6&nbsp;мес. Открытый грунт удобряем 2-3 раза за&nbsp;сезон. Для улучшения товарного вида дополнительно используются микроэлементы, которые вносятся по&nbsp;необходимости.



		.gp-grunt
			.gp-grunt__first Грунт для растений
			.gp-grunt__second
				.gp-grunt__images
					.gp-grunt__img
						img(src='img/grow-6.webp')
					.gp-grunt__img
						img(src='img/grow-7.webp')
				.gp-grunt__content
					.gp-grunt__content-text Мы&nbsp;используем субстрат, который получаем путем смешивания дерна, торфа, песка, глины, листовой и&nbsp;перегнойной земли до&nbsp;однородной питательной массы. Для каждой группы хвойных растений учитываем индивидуальные требования к&nbsp;кислотности, составу и&nbsp;другим свойствам почвы.
					.gp-grunt__content-bottom
						.gp-grunt__content-title Особенности грунта:
						ul.gp-grunt__content-blocks
							li Пористость
							li Оптимальная влаго- и воздухопроницаемость
							li Подходящая кислотность (рН 4-5)
							li Хороший дренаж (использование керамзита, щебня, кирпичной крошки)


		.gp-steps
			.gp-step
				.gp-step__img
					img(src="img/grow-8.webp" alt="")
				.gp-step__content
					.gp-step__title Обработка растений
					.gp-step__text
						p Мы&nbsp;обрабатываем растения весной в&nbsp;устойчивую сухую погоду, чтобы защитный барьер держался как можно дольше. Используем эффективные фунгицидные и&nbsp;инсектицидные средства (какие&nbsp;&mdash; дописать, например, Ориво, Циперметрин, Би-58, Клипер, бордосская смесь&nbsp;1%, медный купорос).
			.gp-step
				.gp-step__img
					img(src="img/grow-9.webp" alt="")
				.gp-step__content
					.gp-step__title Рыхление грунта
					.gp-step__text
						p Перед посадкой в&nbsp;грунт поля специально подготавливаются. Процесс подготовки включает:
						ul
							li Дискование бороной
							li Чизелевание (глубокая вспашка до&nbsp;50&nbsp;см)
							li Вспашку плугом
							li Культивацию
						p Благодаря этим мероприятиям, улучшается структура почвы, значительно уменьшается количество сорняков, и&nbsp;возможность замокания растений.







	include ../../blocks/modules/footer/footer





block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")