extends ../layouts/default

block variables
	- const title = "New Page";

block content
	include ../../blocks/modules/header/header
	.grow-page
		.gp-video
			video(src="video/video2.mp4" autoplay loop muted)

		.gp-how
			.gp-how__intro
				.gp-how__intro-title.active Выращивание растений
				.gp-how__intro-text.active Выращивание не терпит небрежности и требует глубоких знаний. Мы используем современные технологии ухода за посадочным материалом — системы полива, качественные минеральные удобрения, средства для обработки от вредителей. Весь посадочный материал имеет фитосанитарные заключения и сертификаты. С растениями работают профессиональные дендрологи.
			.gp-how__items
				.gp-how-item
					.gp-how-item__img
						img(src="img/grow-1.webp" alt="")
					.gp-how-item__content
						.gp-how-item__title Как происходит выращивание
						.gp-how-item__text Посадка в контейнеры начинается в начале апреля в теплицах, которые позволяют нам раньше начать сезон посадки и тем самым увеличить вегетационный период, что, в свою очередь, хорошо сказывается на приросте растений и их товарном виде. В грунт растения высаживаем с конца апреля по май.
				.gp-how-item
					.gp-how-item__img
						video(src="video/video2.mp4" autoplay loop muted)
					.gp-how-item__content
						.gp-how-item__text После посадки растения нуждаются в наблюдении и уходе. В процессе роста их поливают, обрабатывают от вредителей и болезней, пропалывают и стригут по мере необходимости.


		.gp-doble
			.gp-doble__img
				.gp-doble__img-inner
					img(src="img/grow-2.webp" alt="")
				.gp-doble__img-inner
					img(src="img/grow-3.webp" alt="")
					
		.gp-poliv
			.gp-poliv__left
				.gp-poliv__title Система полива растений
				.gp-poliv__text На открытом грунте используется автоматическая капельная система полива, на площадках и в теплицах — спринклерная. Таким образом всем растениям обеспечивается водный режим. Контейнерная площадка поливается весной 1-2 раза, летом — 3-4 раза в день. Растения из открытого грунта поливают по мере необходимости.
			.gp-poliv__right
				img(src="img/grow-4.webp" alt="")

		.gp-mineral
			.gp-mineral__img
				img(src="img/grow-5.webp" alt="")
			.gp-mineral__content
				.gp-mineral__title Подача минеральных веществ
				.gp-mineral__text
					p Внесение питательных веществ через капельный полив происходит непосредственно в прикорневую зону, что улучшает усвояемость подкормки и последующую урожайность. Спринклерная система («дождевание») удобна для равномерного распределения удобрений и положительно влияет на рост и развитие корневой системы.
					p В зависимости от способа выращивания и сезонности применяются комплексные удобрения. На контейнерном производстве используются подкормки пролонгированного действия — 5-6 мес. Открытый грунт удобряем 2-3 раза за сезон. Для улучшения товарного вида дополнительно используются микроэлементы, которые вносятся по необходимости.



		.gp-grunt
			.gp-grunt__first Грунт для растений
			.gp-grunt__second
				.gp-grunt__images
					.gp-grunt__img
						img(src='img/grow-6.webp')
					.gp-grunt__img
						img(src='img/grow-7.webp')
				.gp-grunt__content
					.gp-grunt__content-text Мы используем субстрат, который получаем путем смешивания дерна, торфа, песка, глины, листовой и перегнойной земли до однородной питательной массы. Для каждой группы хвойных растений учитываем индивидуальные требования к кислотности, составу и другим свойствам почвы.
					.gp-grunt__content-bottom
						.gp-grunt__content-title Особенности грунта:
						ul.gp-grunt__content-blocks
							li Пористость
							li Оптимальная влаго- и воздухопроницаемость
							li Подходящая кислотность (рН 4-5)
							li Хороший дренаж (использование керамзита, щебня, кирпичной крошки)


		.gp-steps
			.gp-step
				.gp-step__img
					img(src="img/grow-8.webp" alt="")
				.gp-step__content
					.gp-step__title Обработка растений
					.gp-step__text
						p Мы обрабатываем растения весной в устойчивую сухую погоду, чтобы защитный барьер держался как можно дольше. Используем эффективные фунгицидные и инсектицидные средства (какие — дописать, например, Ориво, Циперметрин, Би-58, Клипер, бордосская смесь 1%, медный купорос).
			.gp-step
				.gp-step__img
					img(src="img/grow-9.webp" alt="")
				.gp-step__content
					.gp-step__title Рыхление грунта
					.gp-step__text
						p Перед посадкой в грунт поля специально подготавливаются. Процесс подготовки включает:
						ul
							li Дискование бороной
							li Чизелевание (глубокая вспашка до 50 см)
							li Вспашку плугом
							li Культивацию
						p Благодаря этим мероприятиям, улучшается структура почвы, значительно уменьшается количество сорняков, и возможность замокания растений.







	include ../../blocks/modules/footer/footer





block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")