extends ../layouts/default-page

block variables
	- const title = "Login-lk";

block content

	.login-lk-page
		include ../../blocks/components/breadcrumbs

		form.form-lk(action="")
			.form-lk__wrap
				h1.form-lk__title.title-3 Вход в личный кабинет

				input.input-text(type="text" placeholder="Ваше имя")
				input.input-text(type="password" placeholder="Пароль")

				.form-lk__row
					button.colored-button-small(type="submit")
						p Войти
					
					.form-lk__row-block
						a.small-text-2(href="") Забыли пароль?
						a.small-text-2(href="") Зарегистрироваться

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")