extends ../layouts/default-page

block variables
	- const title = "New-password-lk";

block content

	.new-password-lk-page
		include ../../blocks/components/breadcrumbs
		.new-password-lk-page__wrap

			form.form-lk(action="")
				.form-lk__wrap
					h1.form-lk__title.title-3 новый пароль

					label.form-lk__label
						p.form-lk__label-name.small-text-2 Пароль
						input.form-lk__input.input-text(type="password")
						span.text-error
					label.form-lk__label
						p.form-lk__label-name.small-text-2 Повторите новый пароль
						input.form-lk__input.input-text(type="password")
						span.text-error

					button.form-lk__submit.colored-button-small.js-popup-active(type="button")
						p Сохранить
			
				ul.form-lk__requirements
					li.form-lk__requirements-item.small-text.form-lk__requirements-title Требования к паролю:
					li.form-lk__requirements-item.small-text длина 8 и более симолов;
					li.form-lk__requirements-item.small-text заглавные латинские буквы (A-Z);
					li.form-lk__requirements-item.small-text строчные латинские буквы (a-z);
					li.form-lk__requirements-item.small-text цифры (0-9).

			.new-password-lk-page__popup.popup.js-popup
				.popup__wrap
					button.popup__btn-close.js-popup-close
						| <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18 6L6 18" stroke="#1E713F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M6 6L18 18" stroke="#1E713F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>

					h3.title-3 Пароль изменён
					a(href="").colored-button-small 
						p Войти в личный кабинет

	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")