extends ../layouts/default-page

block variables
	- const title = "Order-null";

block content

	.order-null-page.container-menu
		.container-menu__menu-lk.menu-lk
			include ../../blocks/components/menu-lk

		.container-menu__content

			include ../../blocks/components/breadcrumbs

			.order-null-page__wrap
				h1.order-null-page__title.title-2 заказы
				p.order-null-page__subtitle.text-2 Вы ещё не сделали ни одного заказа. Перейдите в каталог для выбора товара.

				a(href="").order-null-page__link.colored-button-small
					p В каталог




	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")