.basket-page {
    background-color: $white-f6;

    &__title {
        color: $black-3d;
        margin-top: 80px;

        @include max(md) {
            margin-top: 64px;
        }
        @include max(xs) {
            margin-top: 40px;
        }
    }

    &__back {
        text-decoration: none;
        color: $grey-6f;
        border-bottom: 1px solid $grey-6f;
        padding-bottom: 3px;
        margin-top: 16px;

        @include max(xs) {
            margin-top: 7px;
        }
        
        &:last-child {
            margin-top: 23px;
            
            @include max(xs) {
                margin-top: 14px;
            }
        }
    }

    &__products {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;

        &-title {
            color: $black-3d;
            width: 100%;
            padding-right: 24px;
        }

        &-btn {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            color: $grey-a4;

            & svg {
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }
    }

    &__list {
        padding-top: 24px;
    }
}