.change-password-lk-page {
    padding-top: 40px;
    background-color: $white-f7;
    @include max(xs) {
        padding-top: 24px;
    }

    .form-lk {
        padding-top: 80px;
        padding-bottom: 120px;
        @include max(xs) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }
}