.change-password-page {
    background-color: $white-f6;
    .form-lk {
        padding-top: 81px;
        padding-bottom: 130px;
        margin: 0;
        
        @include max(md) {
            max-width: 520px;
            padding-top: 64px;
            padding-bottom: 120px;
            padding-left: 0;
            padding-right: 0;

            &__wrap {
                max-width: 100%;
            }
        }
        @include max(xs) {
            padding-top: 40px;
            padding-bottom: 80px;
        }

        &__label {
            position: relative;
            
            &:first-of-type {
                margin-top: 48px;

                @include max(md) {
                    margin-top: 16px;
                }
                @include max(xs) {
                    margin-top: 0;
                }
            }
            &:last-of-type {
                margin-top: 16px;
            }
        }

        &__requirements {
            list-style: none;
            flex-shrink: 0;
            padding-top: 11px;
            padding-bottom: 65px;
            
            &-item {
                display: flex;
                align-items: center;
                color: $grey-6f;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }

                &::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $grey-6f;
                    margin: 0 10px;
                }
            }

            &-title {
                color: $black-3d;
                padding-left: 8px;
                margin-bottom: 12px !important;

                &::before {
                    content: none;
                }
            }
        }

        &__btns {
            display: flex;

            @include max(xs) {
                flex-direction: column;
            }
        }

        &__btn {
            
            @include max(xs) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-right: 17px;

                @include max(xs) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }

            p {
                font-family: 'Manrope', sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
            }
        }

        &__password-btn {
            outline: none;
            position: absolute;
            bottom: 17px;
            right: 17px;
            width: 16px;
            height: 16px;
            background: url('../img/svg/optic.svg') center center no-repeat transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }
}