.contacts-page {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #fff;
	@include max(md){
		position: relative;
		left: 0;
		top: 0;
		width: 100vw;
		height: auto;
	}
	.c1{
		&__container{
			position: relative;
			width: 100vw;
			height: 100vh;
			perspective: 1500px;
			@include max(md){
				position: relative;
				left: 0;
				top: 0;
				width: 100%;
				height: auto;
				box-sizing: border-box;
				padding: vw2(120) vw2(125) vw2(32);
			}
			@include max(sm){
				padding: vw3(120) vw3(95) vw3(32);
			}
			@include max(xs){
				padding: vw4(80) vw4(12) vw4(8);
			}
		}
		&__title {
			will-change: transform, opacity;
			transform-style: preserve-3d;
			z-index: 3;
			position: absolute;
			font-weight: 700;
			font-size: vw(48);
			line-height: 140%;
			text-align: center;
			text-transform: uppercase;
			transition:  opacity .75s ease;
			opacity: 0;
			pointer-events: none;
			font-family: $mainFont;
			color: #041C13;
			left: vw(200);
			top: 100vh;
			@include max(md){
				position: relative;
				top: 0;
				left: 0;
				font-size: vw2(42);
				opacity: 1;
				text-align: left;
				margin-bottom: vw2(40);
			}
			@include max(sm){
				font-size: vw3(42);
				margin-bottom: vw3(40);
			}
			@include max(xs){
				font-size: vw4(28);
				margin-bottom: vw4(24);
			}	
		}
		&__contacts {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			max-width: vw(278);
			will-change: transform, opacity;
			transform-style: preserve-3d;
			position: absolute;
			z-index: 2;
			top: 100vh;
			left: vw(200);
			opacity: 0;
			pointer-events: none;
			@include max(md){
				top: 0;
				opacity: 1;
				position: relative;
				left: 0;
				font-size: vw2(18);
				max-width: vw2(243);
			}
			@include max(sm){
				font-size: vw3(18);
				max-width: vw3(243);
			}
			@include max(xs){
				font-size: vw4(18);
				max-width: vw4(243);
			}
			&--item {
				position: relative;
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				font-family: $textFont;
				font-style: normal;
				font-weight: 400;
				font-size: vw(18);
				line-height: 145%;
				margin-bottom: vw(32);
				color: #041C13;
				@include max(md){
					font-size: vw2(18);
					margin-bottom: vw2(32);
				}
				@include max(sm){
					font-size: vw3(18);
					margin-bottom: vw3(32);
				}
				@include max(xs){
					font-size: vw4(18);
					margin-bottom: vw4(32);
				}
			}
			&--title {
				font-family: $textFont;
				font-style: normal;
				font-weight: 500;
				font-size: vw(16);
				line-height: 130%;
				color: #6F6F6F;	
				margin-bottom: vw(10);
				@include max(sm){
					font-size: vw3(16);
					margin-bottom: vw3(10);
				}
				@include max(xs){
					font-size: vw4(16);
					margin-bottom: vw4(10);
				}
			}
			&--link {
				flex-flow: column nowrap;
				font-family: $textFont;
				font-style: normal;
				font-weight: 400;
				font-size: vw(18);
				line-height: 145%;
				color: #041C13;
				text-decoration: none;
				@include max(sm){
					font-size: vw3(16);
				}
				@include max(xs){
					font-size: vw4(16);
				}
			}
		}
	}
	.footer {
		@include max(md){
			position: relative;
			display: block;
		}
	}
	&__map {
		position: absolute;
		left: 82vw;
		top: 80vh;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		@include max(md){
			position: relative;
			left: 0;
			top: 0;
			width: 95vw;
			height: auto;
			margin-left: auto;
			margin-right: auto;	
		}
		&__container{
			position: relative;
			width: vw(800);
			height: vw(500);
			display: flex;
			justify-content: center;
			align-items: center;
			@include max(md){
				width: 100%;
				height: vw2(400);
			}
			@include max(sm){
				height: vw3(400);
			}
			@include max(xs){
				height: vw3(400);
			}
			img {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				object-fit: cover;
				object-position: 50% 50%;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__walk {
		position: absolute;
		left: 100vw;
		top: 100vh;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		flex-flow: column nowrap;
		@include max(md){
			position: relative;
			left: 0;
			top: 0;
			width: 95vw;
			height: auto;
			margin-left: auto;
			margin-right: auto;	
			padding-top: vw2(80);
			padding-bottom: vw2(80);
		}
		@include max(sm){
			padding-top: vw3(80);
			padding-bottom: vw3(80);
		}
		@include max(xs){
			position: relative;
			padding-top: vw4(80);
			padding-bottom: vw4(80);
		}
		&--title {
			font-family: $mainFont;
			font-style: normal;
			font-weight: 600;
			font-size: vw(36);
			line-height: 140%;
			text-transform: uppercase;
			color: #041C13;
			margin-bottom: vw(80);
			width: vw(488);
			@include max(md){
				font-size: vw2(36);
				width: 100%;
			}
			@include max(sm){
				font-size: vw3(36);
			}
			@include max(xs){
				font-size: vw4(24);
			}		
		}
		&--text {
			font-family: $textFont;
			font-style: normal;
			font-weight: 400;
			font-size: vw(18);
			line-height: 145%;
			color: #6F6F6F;
			width: vw(488);	
			@include max(md){
				font-size: vw2(18);
				width: 100%;
			}
			@include max(sm){
				font-size: vw3(18);
			}
			@include max(xs){
				font-size: vw3(18);
			}
	
		}	
	}
	&__startWalk {
		position: absolute;
		left: 100vw;
		top: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		overflow: hidden;
		background-image: url(../img/contacts-page__startWalk.png);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		@include max(md){
			position: relative;
			left: 0;
			top: 0;
			margin-left: auto;
			margin-right: auto;	
		}
		.s1__link {
			opacity: 1;
		}
	}
}