.main-lk-page {
    background-color: $white-f6;
    padding-right: 32px;
    
    @include max(sm) {
        padding-right: 0;
    }

    .form-lk {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 80px;

        @include max(md) {
            padding-bottom: 64px;
        }
        @include max(xxs) {
            padding-top: 24px;
            padding-bottom: 40px;
        }

        &__wrap {
            max-width: 904px;
        }

        .input-text {
            margin-bottom: 0;
        }
    }

    &__form {
        display: none;
        padding-top: 80px;
        padding-left: 32px;
        padding-right: 32px;
        max-width: 864px;
        margin: 0 auto;
        @include max(sm) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include max(xs) {
            padding-top: 40px;
        }

        &.active {
            display: block;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        &-name {
            color: $grey-6f;
            margin-bottom: 4px;
        }
    }

    &__input {
        background: url('../img/svg/pencil.svg') right 16px center no-repeat;
        padding-right: 48px;
    }

    &__top {
        display: flex;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 81px;
        
        @include max(md) {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        @include max(sm) {
            padding-bottom: 40px;
        }
        @include max(xxs) {
            align-items: flex-start;
            flex-direction: column;
            padding-top: 40px;
        }

        img {
            display: block;
            max-width: 120px;
            width: 100%;
            max-height: 120px;
            height: 100%;
            object-fit: cover;
            margin-right: 24px;
            
            @include max(xxs) {
                max-width: 40px;
                max-height: 40px;
                margin-right: 0px;
                margin-bottom: 8px;
            }
        }
        
        &-title {
            color: $black-3d;
            margin-bottom: 4px;
        }
    }

    &__btn {
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: $grey-6f;
        border-bottom: 1px solid $grey-6f;
        padding: 0;
        padding-bottom: 2px;
        cursor: pointer;
    }

    &__block {
        max-width: 904px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $green-1e;
        padding-bottom: 6px;

        @include max(xxs) {
            padding-bottom: 7px;
        }

        &-title {
            color: $black-3d;
        }
    }

    &__save {
        display: none;
        align-items: center;

        &.active {
            display: flex;
        }
        
        &-btn:not(:last-child) {
            margin-right: 24px;

            @include max(xs) {
                margin-right: 0;
                margin-bottom: 8px;
            }
        }
    }

    &__order {
        display: none;

        &.active {
            display: block;
        }
    }

    .catalog__list {
        padding-right: 0;
    }

    .order {
        &__list {
            list-style: none;
            padding-top: 30px;
            padding-bottom: 41px;
            
            @include max(xxs) {
                padding-top: 26px;
            }
        }

        &__item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 0;
            
            
            &:not(:last-child) {
                margin-bottom: 15px;
                
                @include max(xxs) {
                    margin-bottom: 21px;
                }
            }
    
            @include max(xxs) {
                flex-direction: column;
            }
        }

        &__name {
            flex-shrink: 0;
            width: 176px;
            color: $grey-6f;
            margin-right: 32px;
    
            @include max(xxs) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 9px;
            }
        }

        &__meaning {
            color: $black-3d;
        }
    }

    .popup {
        &__wrap {
            box-sizing: border-box;
            max-width: 800px;
            padding: 44px 32px 40px;
            border: 1px solid $green-1e;
        }

        h6 {
            color: $black-3d;
            margin-bottom: 24px;
        }
        
        &__form {
            background-color: $white-fd;
            box-shadow: 0px 4px 12px rgba(30, 113, 63, 0.15);
            padding: 40px;
    
            @include max(xxs) {
                padding: 16px 12px;
            }

            &-wrap {
                background-color: $white-f7;
                display: flex;
                align-items: center;
                border: none;
                padding: 40px;
                margin: 0;
    
                @include max(sm) {
                    flex-direction: column-reverse;
                }
                @include max(xxs) {
                    padding: 40px 16px;
                }
            }

            &-label {
                box-sizing: border-box;
                max-width: 280px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 1px dashed $grey-a6;
                padding: 100px 16px;
    
                @include max(sm) {
                    border: none;
                    padding: 30px 16px 20px;
                }
            }

            &-input {
                display: none;
            }

            &-clue {
                color: $grey-3d;
                text-align: center;
    
                @include max(md) {
                    display: none;
                }


                &::after {
                    content: 'Перетащите изображение в эту область';
                    display: block;
                    font-size: 14px;
                    line-height: 130%;
                    color: $grey-a4;
                    margin-top: 8px;
                }

                &--mob {
                    display: none;
                    text-decoration: underline;
                    
                    @include max(md) {
                        display: block;
                    }

                    &::after {
                        content: none;
                    }
                }
            }

            svg {
                flex-shrink: 0;
                margin: 0 40px;
                
                @include max(sm) {
                    display: none;
                }
            }

            img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                
                @include max(sm) {
                    margin-bottom: 40px;
                }
                @include max(xxs) {
                    width: 120px;
                    height: 120px;
                }
            }

            &-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 40px auto 0;
                
                @include max(xs) {
                    flex-direction: column;
                }
            }

            &-btn:not(:last-child) {
                margin-right: 24px;

                @include max(xs) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }

        }
    }
}