.new-password-lk-page {
    padding-top: 40px;
    background-color: $white-f7;
    @include max(xs) {
        padding-top: 24px;
    }

    .form-lk {
        position: relative;
        padding-top: 80px;
        padding-bottom: 120px;
        @include max(xs) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        
        &__input {
            background: url('../img/svg/optic.svg') right 16px center no-repeat;
            padding-right: 48px;
        }
    }

    .popup__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}