.new-password-lk-page {
    padding-top: 40px;
    background-color: $white-f6;

    @include max(xs) {
        padding-top: 24px;
    }

    .form-lk {
        display: flex;
        max-width: 1040px;
        padding-top: 80px;
        padding-left: 208px;
        padding-right: 32px;
        padding-bottom: 120px;
        
        @include max(md) {
            padding-left: 32px;
            flex-direction: column;
        }
        @include max(sm) {
            padding-left: 12px;
            padding-right: 12px;
        }
        @include max(xs) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &__label {
            margin-bottom: 32px;
        }
        
        &__input {
            background: url('../img/svg/optic.svg') right 16px center no-repeat;
            padding-right: 48px;
        }

        &__requirements {
            list-style: none;
            flex-shrink: 0;
            padding-top: 115px;
            margin-left: 32px;
            
            @include max(md) {
                padding-top: 40px;
                margin-left: 0;
            }

            &-item {
                display: flex;
                align-items: center;
                color: $grey-6f;

                &::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $grey-6f;
                    margin: 0 10px;
                }
            }

            &-title {
                color: $black-3d;
                padding-left: 8px;
                margin-bottom: 12px;

                &::before {
                    content: none;
                }
            }
        }
    }
    
    .popup__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include max(xs) {
            padding: 68px 13.5px 80px;
        }
    }
}