extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	div.list-links
		ul
			li
				a(href="./home-page.html") Главная
			li
				a(href="./about.html") О компании
			li
				a(href="./portfolio.html") Проекты питомника
			li
				a(href="./project.html") Проект
			li
				a(href="./growing.html") Выращивание
			li
				a(href="./faq.html") Faq
			li
				a(href="./contacts.html") Контакты
			li
				a(href="./basket.html") Корзина
			li
				a(href="./basket-order-options.html") Оформление заказа
			li
				a(href="./basket-order-reg.html") Оформление заказа 2
			li
				a(href="./basket-order-formed.html") Заказ сформирован
			li
				a(href="./catalog-lk.html") Каталог ЛК
			li
				a(href="./catalog-inside-lk.html") Каталог ЛК (внутренняя)
			li
				a(href="./cart-product-basket-filled.html") Страница продукта (Корзина заполнена)
			li
				a(href="./cart-product-basket-null.html") Страница продукта (Корзина пустая)
			li
				a(href="./main-lk.html") Личный кабинет
			li
				a(href="./change-password.html") Смена пароля ЛК
			li
				a(href="./new-password-lk.html") Новый пароль ЛК
			li
				a(href="./order.html") Информация о заказе
			li
				a(href="./order-list.html") Заказы
			li
				a(href="./order-null.html") Заказы (пусто)
			li
				a(href="./profile-order.html") Профиль заказа
			li
				a(href="./profile-order-list.html") Профили заказов
			li
				a(href="./profile-order-null.html") Профили заказов (пусто)

			li
				a(href="./login-lk.html") Вход в личный кабинет
			li
				a(href="./register-lk.html") Регистрация
			li
				a(href="./change-password-lk.html") Смена пароля
			li
				a(href="./ui-kit.html") ui-kit

	style
		| .list-links{padding: 100px 150px; background: #fff}
		| .list-links ul li{margin-bottom: 10px; font-size: 18px}
		| .list-links ul li a{text-decoration:none; color: #000}
block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")