.pagination-list{
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  max-width: 320px;
  list-style: none;
  box-sizing: border-box;
  &__unit{
    a{
      position: relative;
      z-index: 1;
      color: $black-3d;
      font-family: 'ruda', sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
    }
    &.active{
      position: relative;
      margin: 0 0 0 16px;
      a{
        color: $white-fd;
      }
      &:before{
        z-index: 0;
        content: '';
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $green-1e;
        @include absolute-center;
      }
    }
    &:last-child{
      &.active{
        margin: 0 16px 0 0;
      }
    }
  }
}

.breadcrumbs {
  max-width: 1216px;
  padding: 0 32px;
  margin: 0 auto;
  @include max(sm) {
    padding: 0 12px;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__link {
    text-decoration: none;
    color: $grey-a6;
  }
  &__item:not(:last-child) &__link::after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 8px;
    background: url("../../img/svg/arrow-long-gray.svg") center center no-repeat;
    margin: 0 11px;
  }
  &__item.active &__link {
    color: $grey-3d;

    &::after {
      background: url("../../img/svg/arrow-long-black.svg") center center no-repeat;
    }
  } 
}

.form-lk {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  @include max(md) {
    max-width: 336px;
    padding-left: 12px;
    padding-right: 12px;
  }
  
  &__wrap {
    max-width: 592px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $black-3d;
    margin-bottom: 24px;
    }
    
    &__subtitle {
    color: $grey-6f;
    margin-bottom: 24px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &:first-of-type {
      margin-top: 32px;
      @include max(xs) {
        margin-top: 16px;
      }
    }

    &:last-of-type {
      margin-bottom: 32px;
    }

    &-name {
      color: $grey-6f;
      margin-bottom: 4px !important;
    }
  }

  .input-text {
    margin-bottom: 12px;
  }
  &__label .input-text {
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-block {
      display: flex;
      flex-direction: column;
    }
  }

  .small-text-2,
  .small-text-3 {
    text-decoration: none;
    color: $grey-6f;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 113, 63, .5);

  &.active {
    display: block; 
  }

  &__wrap {
    box-sizing: border-box;
    max-width: 384px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-fd;
    border: 1px solid $green-1e;
    border-radius: 8px;
    padding: 68px 40px 80px;

    @include max(xs) {
      max-width: 296px;
    }
  }

  &__btn-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .title-3 {
    color: $grey-3d;
    margin-bottom: 16px;
  }

  .text-2 {
    color: $grey-6f;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.container-menu {
  display: flex;
  align-items: flex-start;

  &__content {
    width: 100%;
    padding-top: 40px;

    @include max(sm) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__top {
    padding-top: 80px;
    padding-left: 56px;
    padding-bottom: 60px;
    margin-top: -40px;
    margin-left: -56px;
    background-color: $white-fd;
      
    @include max(md) {
      padding-top: 64px;
      padding-bottom: 40px;
    }
    @include max(sm) {
      margin-left: -12px;
      margin-right: -12px;
      padding-left: 12px;
      padding-right: 12px;
    }
    @include max(xxs) {
      padding-top: 40px;
    }
    
    &-title {
      color: $black-3d;
      margin-bottom: 24px;
      
      @include max(md) {
        margin-bottom: 16px;
      }
    }
    &-text {
      max-width: 592px;
      color: $grey-6f;
    }
  }

  .breadcrumbs {
    padding: 0;
    margin: 0;
  }
}

.menu-lk {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  max-width: 104px;
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  padding-right: 32px;
  
  @include max(md) {
    padding-right: 20px;
  }
  @include max(sm) {
    position: fixed;
    max-width: 100%;
    top: auto;
    bottom: 0px;
    padding-right: 0;
  }

  &__elem {
    display: block;
    color: $green-1e;
    transform: rotate(-90deg);
    margin-top: 40px;
    margin-left: 11px;
    margin-bottom: 60px;

    @include max(sm) {
      display: none;
    }
  }

  &__btn {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;

    @include max(sm) {
      display: none;
    }
    
    &::before {
      content: '';
      position: absolute;
      left: -2px;
      width: 24px;
      height: 24px;
      background: url("../../img/svg/arrow-circle-right.svg") center center no-repeat;
      transform: rotate(0deg);
      transition: $animation;
    }
  }

  &.active {
    max-width: 312px;
    
    .menu-lk__elem {
      display: none;
    }

    .menu-lk__btn::before {
      transform: rotateY(180deg);
    }

    .menu-lk__company {
      display: flex;
    }

    .menu-lk__link {
      justify-content: start;
      padding: 8px 16px;
    }

    .menu-lk__link-title {
      font-size: 16px;
      margin-left: 24px;
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: $white-fd;
    padding: 40px 0;
    transition: $animation;

    @include max(sm) {
      height: auto;
      background-color: transparent;
      padding: 0;
    }
  }

  &__company {
    display: none;
    align-items: center;
    padding: 60px 16px 0;

    @include max(sm) {
      display: none;
    }

    &-img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin-right: 24px;
    }

    &-name {
      color: $grey-3d;
      margin-bottom: 4px;
    }

    &-edit {
      text-decoration: none;
      color: $grey-6f;
      border-bottom: 1px solid $grey-6f;
      padding-bottom: 2px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 100%;
    align-self: stretch;
    padding-top: 40px;

    @include max(sm) {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 0;
    }
  }

  &__item {
    @include max(sm) {
      background-color: $white;
    }
    
    &--exit {
      padding-top: 24px;
      margin-top: auto;

      @include max(sm) {
        display: none;
      }
    }
  }

  &__item.active {
    background-color: $green-1e;

    & .menu-lk__link-svg {
      fill: $white-fd;
    }

    & .menu-lk__link-title {
      color: $white-fd;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 12px 24px;

    &-svg {
      width: 32px;
      height: 32px;
      fill: $green-1e;

      @include max(sm) {
        width: 24px;
        height: 24px;
      }
    }

    &-title {
      font-size: 0;
      color: $grey-6f;
      text-transform: uppercase;
      margin-left: 0;
    }
  }
}