.breadcrumbs
    ul.breadcrumbs__list
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link.small-text-2 Главная
        li.breadcrumbs__item
            a(href="#").breadcrumbs__link.small-text-2 Предыдущий пункт
        li.breadcrumbs__item
            span.breadcrumbs__link.small-text-2 Текущая страница