.catalog
	.catalog__top
		h2.catalog__top-title.title-2 Наши растения
		p.catalog__top-text.text-2 И от способствует количественный кадров формировании постоянный занимаемых повседневная что активности по место количественный намеченных сфера место порядка, реализации активности
				
	ul.catalog__list
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 ель
				.item__block 
					img(src="./img/s4-1.jpg", alt="ель")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 кедр
				.item__block 
					img(src="./img/s4-2.jpg", alt="кедр")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 можжевельник
				.item__block 
					img(src="./img/s4-3.png", alt="можжевельник")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 пихта
				.item__block 
					img(src="./img/s4-3.jpg", alt="пихта")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 сосна
				.item__block 
					img(src="./img/s4-5.jpg", alt="сосна")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item
			.item__wrap
				h3.item__title.title-3 туя
				.item__block 
					img(src="./img/s4-6.jpg", alt="туя")
					.item__info
						p.item__info-text.text-2 Используется при благоустройстве различных территорий с городскими зданиями или загородными частными домами.
						a(href="").item__info-link Перейти в раздел
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.999 3.00024C7.02846 3.00024 2.99902 7.02968 2.99902 12.0002C2.99902 16.9708 7.02846 21.0002 11.999 21.0002C16.9696 21.0002 20.999 16.9708 20.999 12.0002C20.999 7.02968 16.9696 3.00024 11.999 3.00024Z" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M11.4307 8.81831L8.2487 12.0003L11.4307 15.1823" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
								<path d="M15.749 12.0002L8.24902 12.0002" stroke="#1E713F" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
		li.catalog__item.item