ul.pagination-list
    li.pagination-list__unit.active
        a(href="#") 1
    li.pagination-list__unit
        a(href="#") 2
    li.pagination-list__unit
        a(href="#") 3
    li.pagination-list__dots ...
    li.pagination-list__unit
        a(href="#") 4
    li.pagination-list__unit
        a(href="#") 5
    li.pagination-list__unit
        a(href="#") 6
