footer.footer
    .footer__container
        .footer__top
            .footer__left
                .footer__logo
                    img(src='img/svg/footer-logo.svg')
                .footer__copy
                    | © 2022 «Питомник Калужский тракт»
                    br
                    |Все права защищены.

            .footer__right
                .footer__col
                    .footer__col-title Разделы
                    ul.footer__col-rows
                        li
                            a(href="") Услуги
                        li
                            a(href="") Выращивание
                        li
                            a(href="") О питомнике
                        li
                            a(href="") Портфолио
                        li
                            a(href="") FAQ
                        li
                            a(href="") 3D тур
                .footer__col
                    .footer__col-title КОНТАКТЫ
                    ul.footer__col-rows
                        li Россия, г. Москва, Алабяна 17
                        li
                            a(href="mailto:hello@web-valley.ru") hello@web-valley.ru
                        li
                            a(href="tel:+79848885154") +7 (984) 888-51-54
                .footer__col
                    .footer__col-title Написаться нам
                    ul.footer__col-rows
                        li
                            a(href="" rel="nofollow") Facebook
                        li
                            a(href="" rel="nofollow") WhatsApp
        .footer__bottom
            .footer__bottom-item
                a(href="") Политика конфиденциальности
            .footer__bottom-item Сайт разработан WebValley Studio
