h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

body{
	font-family: $mainFont;
	&:not(.active){
		overflow: hidden !important;
	}
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}