$black: #000000;
$black-od: #0D0D0D;
$black-3d: #3D3D3D;
$white-fc: #FCFCFC;
$white-fd: #FDFDFD;
$white-f6: #F6F6F6;
$white-f7: #F7F7F7;
$white: #FFFFFF;
$grey-3d: #3D3D3D;
$grey-6f: #6F6F6F;
$grey-c6: #C6C6C6;
$grey-ca: #CACACA;
$grey-a6: #A6A6A6;
$grey-a4: #A4A4A4;
$red: #F72828;
$green-04: #041C13;
$green-1e: #1E713F;
$green-22: #22944F;
$green-2B: #2BA85C;
$animation: all 0.5s ease;

body {
  background: $grey-c6;
}

p {
  margin: 0;
}

.title-0, .title-1, .title-2, .title-3, .title-4-uppercase, .title-4, .title-5, .title-6, .lead-text-uppercase, .lead-text-uppercase, .lead-text, .text-1, .text-2, .small-text-1, .small-text-2, .small-text-3 {
  display: block;
  width: fit-content;
}

.title-0, .title-1, .title-2, .title-3, .title-4-uppercase, .title-4, .title-5, .title-6, .lead-text-uppercase {
  font-family: 'ruda', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 140%;
  color: $black;
}

.title-0 {
  font-size: 60px;
  @include max(xs) {
    font-size: 40px;
    color: $green-1e;
  }
}

.title-1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  @include max(md) {
    color: $green-1e;
  }
  @include max(xs) {
    font-size: 30px;
  }
}

.title-2 {
  font-size: 42px;
  @include max(xs) {
    font-size: 28px;
    color: $green-1e;
  }
}

.title-3, .title-4, .title-4-uppercase {
  font-size: 24px;
  @include max(xs) {
    font-size: 18px;
  }
}

.title-4 {
  text-transform: unset;
}

.title-5, .title-6 {
  font-size: 16px;
}

.lead-text-uppercase, .lead-text {
  font-size: 36px;
  @include max(xs) {
    color: $green-1e;
  }
}

.lead-text, .text-1, .text-2, .small-text-1, .small-text-2, .small-text-3 {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
}

.lead-text, .text-1, .text-2 {
  line-height: 145%;
}

.small-text-1, .small-text-2, .small-text-3 {
  line-height: 130%;
}

.text-1 {
  font-size: 24px;
}

.text-2 {
  font-size: 18px;
}

.small-text-1 {
  font-size: 16px;
}

.small-text-2 {
  font-size: 14px;
}

.small-text-3 {
  font-size: 12px;
}

.link-button {
  display: flex;
  width: fit-content;
  align-items: center;
  text-decoration: none;
  color: $black;
  transition: $animation;

  svg {
    margin: 0 0 0 12px;

    path {
      transition: $animation;
    }
  }

  &:hover {
    color: $green-1e;

    svg {
      path {
        stroke: $green-1e;
      }
    }
  }
}

.circle-button {
  position: relative;
  display: block;
  content: '';
  width: 176px;
  height: 176px;
  background: $white-fd;
  border-radius: 50%;
  text-decoration: none;
  margin: 22px;
  cursor: pointer;
  transition: $animation;

  p {
    @include absolute-center;
    display: block;
    text-align: center;
    max-width: 176px;
    width: 100%;
    font-family: 'ruda', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 145%;
    text-transform: uppercase;
    color: $green-1e;
    transition: $animation;
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $white-fd;
    border-radius: 50%;
    width: 220px;
    height: 220px;
  }

  &:hover {
    background: $green-1e;

    p {
      color: $white-fd;
    }
  }

  @include max(xs) {
    width: 128px;
    height: 128px;
    p {
      max-width: 128px;
      font-size: 12px;
    }
    &::before {
      width: 160px;
      height: 160px;
    }
  }
}

.colored-button, .transparent-button, .colored-button-small {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background: $green-1e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
  transition: $animation;
  p {
    color: $white-fd;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    
    @include max(xs) {
      font-size: 14px;
    }
  }

  &-small {
    font-size: 14px;

    p {
      font-family: 'Ruda', sans-serif;
      line-height: 130%;
    }
  }

  svg {
    margin: 0 0 0 12px;
    width: 24px;
    height: 24px;
  }
  &:hover{
    background: $green-22;
  }
  &:active{
    background: $green-2B;
  }
  &:focus{
    background: $green-22;
    box-shadow: 0px 0px 0px 3px rgba(30, 113, 63, 0.25);
  }
  &.disabled{
    opacity: 0.5;
    &:hover,&:active,&:focus{
      background: $green-1e;
      box-shadow: unset;
    }
  }
}

.colored-button,
.colored-button-small {
  border: none;
}

.transparent-button {
  background: $white-fd;
  box-shadow: 0px 0px 0px 1px $green-1e;
  border: 1px solid $white-fd;
  padding: 19px 40px;
  p {
    color: $black-3d;
    line-height: 130%;
  }
  &:hover{
    background: $white-fd;
    box-shadow: 0px 0px 0px 2px $green-1e;
  }
  &:active{
    background: $white-fd;
    box-shadow: 0px 0px 0px 3px $green-1e;
  }
  &:focus{
    background: $white-fd;
    border: 1px solid $green-22;
    box-shadow: 0px 0px 0px 3px rgba(30, 113, 63, 0.25);
  }
  &.disabled{
    &:hover,&:active,&:focus{
      background: $white-fd;
      border: 1px solid $white-fd;
      box-shadow: 0px 0px 0px 2px $green-1e;
    }
  }
}

.checkbox {
  &-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    & + .checkbox-label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      &::before {
        content: '';
        flex-shrink: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: $white-fc;
        border: 1px solid $grey-a4;
        border-radius: 2px;
        transition: $animation;
        margin-right: 8px;
        cursor: pointer;
      }
      &:hover::before {
        border-color: $green-1e;
      }
      &:focus::before {
        box-shadow: 0px 0px 0px 3px rgba(30, 113, 63, 0.15);
      }
    }
    &:checked + .checkbox-label::before {
      background: url('../img/svg/check.svg') center center no-repeat;
      background-color: $white-fc;
      border-color: $green-1e;
    }
  }
}

.text-error {
  display: none;
  font-size: 14px;
  line-height: 130%;
  color: $red;
  margin-top: 8px;
}

.input-text,
textarea {
  display: block;
  outline: none;
  padding: 16px;
  font-size: 14px;
  line-height: 130%;
  color: $grey-6f;
  background-color: $white-f7;
  border: 1px solid $grey-ca;
  border-radius: 4px;
  caret-color: $grey-6f;
  transition: $animation;

  &::placeholder {
    color: $grey-a4;
    transition: $animation;
  }
  &:hover {
    border-color: $grey-a6;
  }
  &:focus {
    border: 1px solid $green-1e;
    &::placeholder {
      opacity: 0;
    }
    @include max(xs) {
      box-shadow: 0px 0px 0px 3px rgba(30, 113, 63, 0.15);
    }
  }
  &.error+.text-error {
    display: block;
  }
}

.input-text {
  height: 16px;
}

.textarea {
  height: 96px;
  resize: none;
  overflow-y: auto;
  // &::-webkit-resizer {
  //   background: url("../../img/svg/resize.svg") center center no-repeat;
  // }
}